.booking{
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #fff;
    font-family: sans-serif;
}
.booking .top{
    padding: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.booking .top button, .booking .top .image{
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: #eee;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.booking .top p{
    font-weight: 600;
    font-size: 1.1em;
}
.booking .date{
    position: relative;
    width: 100%;
    background-color: #f2f7ff;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking .date .times{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    background-color: #fff;
}
.booking .date .times .time{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.booking .date .time .check{
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.booking .date .time .check span{
    font-size: 0.7em;
}
.booking .date .time .check p{
    line-height: 24px;
}
.booking .date .time .p{
    position: relative;
    width: 100%;
    font-size: 0.7em;
    padding: 5px;
    display: block;
    width: 55px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.booking .date .time::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
}
.booking .date .times .pick{
    position: relative;
    padding: 40px 20px;
    border-radius:  30px;
    background-color: #ff97b5;
}